body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

p {
    color: blue;
    font-size: 20px;
    background-color: yellow;
    text-align: center;
    margin: 40px 0;
    padding: 20px;
}